useDynLib(mad, .registration = TRUE)

export(
  parBE.B.deviation,
  setupParGADA.B.deviation,
  setupGADA.B.deviation,
  addAnnot,
  plotQMosaic,
  plotZoomQMosaic,
  getMosaics,
  plotSegments
)

import(gada)

S3method(summary, Bdeviation)

importFrom("parallel", "mclapply")