export(
  parBE.B.deviation,
  setupParGADA.B.deviation,
  setupGADA.B.deviation,
  plotChr,
  exportSegments2File,
  addAnnot,
  plotQMosaic,
  plotZoomQMosaic
)

S3method(summary, Bdeviation)
S3method(summary, parBdev)
S3method(plot, Bdev)

importFrom("parallel", "mclapply")