export(
setupGADA.B.deviation,
setupParGADA.B.deviation,
parBE.B.deviation,
summary.parBdev,
summary.Bdeviation,
exportSegments2File,
plotChr
)

importFrom(utils, data)

S3method(summary,parBdev)
S3method(summary,Bdeviation)


